#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

# Force Unix (LF) line endings for everything else
*               text=auto eol=lf

# Binary files should be left untouched
*.jar           binary
